{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style.css' %}"> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="description" content="Complete ISO Certification and Professional Auditor Training in all ISO Management Systems. Contact us Today for ISO Certification & Training.">
    <meta name="keywords" content="INTERCERT ISO Certification, QMS, EMS, OHSMS, FSMS, ISMS, ENMS, ABMS,ISO 21001, 13485, 22301, PCIDSS, SOC2 GDPR">
    <meta name="author" content="Intercert">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="language" content="en">
    <meta name="google-site-verification" content="6Gfpx7846_lDoc2HR_xq7gXlkm9M7RbGH59GIP4yZ48">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://www.intercert.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Intercert - Accredited ISO Certification, Professional Training">
    <meta property="og:description" content="Complete ISO Certification and Professional Auditor Training in all ISO Management Systems. Contact us Today for ISO Certification & Training.">
    <meta property="og:image" content="https://www.intercert.com/assets/images/logo.png">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="intercert.com">
    <meta property="twitter:url" content="https://www.intercert.com/">
    <meta name="twitter:title" content="Intercert - Accredited ISO Certification, Professional Training">
    <meta name="twitter:description" content="Complete ISO Certification and Professional Auditor Training in all ISO Management Systems. Contact us Today for ISO Certification & Training.">
    <meta name="twitter:image" content="https://www.intercert.com/assets/images/logo.png">
    











    <title>Start Now!</title>
</head>

<body>

    START!


</body>

</html>